.Footer {
    background-color: #638da3;
    height: 50px;
}

.Footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right: 50px;
}
.Footer ul {
    height: 14px;
    align-items: center;
}
.Footer li {
    list-style-type: none;
}

.Footer a {
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    color: #1C1C1C;
    text-decoration: none;
}
.Footer a:hover {
    text-decoration: underline;
}